/* 字体大小*/
.fs22px{
  font-size: 22px;
}
.fs24px{
  font-size: 24px;
}
.fs26px{
  font-size: 26px;
}
.fs28px{
  font-size: 28px;
}
.fs30px{
  font-size: 30px;
}
.fs36px{
  font-size: 36px;
}
.fs40px{
  font-size: 40px;
}
.fs50px{
  font-size: 50px;
}
